.Nav{
    display: flex;
    justify-content: left;
    margin-top: 50px;
    margin-bottom: 30px;
}
.n1{
  color: white;
  text-decoration: none;

}
.Nav li{
    margin-left: 100px;
    border: red 2px solid;
    border-radius: 20px;
    padding: 5px 10px;
    transition: .3s ease-in-out;
    display: inline;
}
.n3,.n2,.n4{
    color: red;
    text-decoration: none;
}
.Nav li:hover{
    background-color: red;
    color: white;
    scale:1.2;
    box-shadow: red 0 0 20px;
    transform:translateY(-3px);

}
.N1{
    background-color: red;
    color: white;
    scale:1.2;
    box-shadow: red 0 0 20px;
    transform:translateY(-3px);
  
}
.Nav li a:hover{
    color: white;
}
.dc{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.d1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}
.d2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.po{
    margin-top: 70px;
    margin-bottom: 40px;
}
.po1,.po2,.po3{
    border:2px red solid; 
    width: 300px;
    height: 150px;
    transition: .3ms ease-in-out;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}
.po2{
    border-radius: 400px;
}
.po1:hover,.po2:hover,.po3:hover{
    box-shadow: red 0 0 10px;
    scale: 1.01;
}
/*division 3 */
.d3{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    flex-direction: row;


}
.d3_1{
    height: 300px;
    width: 300px;
    

}
.d3_2{
    height: 300px;
    width: 300px;
    border:red solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}